*{
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 0 32px;
    background: #DBAA78;
    color: #fff;
    height: 64px;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-image-logo-box {
    width: 48px;
    height: 25px;
    margin-right: 16px;
}
.header-image-logo {
    width: 100%;
    height: 100%;
}
.header-left .header-tittle {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
.header-right {
    display: flex;
    align-items: center;
}
.set-box {
    width: 20px;
    height: 20px;
    margin-right: 17px;
}
.set-image {
    width: 100%;
    height: 100%;
}
.header-user-logo-box {
    width: 29px;
    height: 29px;
    border-radius: 50%;
}
.user-logo {
    width: 100%;
    height: 100%;
}
.navigator {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DBAA78;
    font-family: 'Source Han Sans SC';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.navigator-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.select-city {
    margin-right: 20px;
}
.navigator-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-family: 'Source Han Sans SC';
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #626262;
}

.content {
    display: flex;
    font-family: 'Source Han Sans SC';
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.navigator-left {
    display: flex;
    justify-content: center;
    width: 137px;
    box-shadow: 1px 0px 4px rgba(106, 69, 31, 0.2);
}

.operation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.operation.ecology {
    margin-top: 32px;
}

.operation-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.operation-list .operation {
    width: 60px;
    height: 40px;
    margin-bottom: 26px;
}

.ecology .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_shengtai_normal.png") no-repeat;
}
.health .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiankang_normal.png") no-repeat;
}

.safety .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_anquan_normal.png") no-repeat;
}

.traffic .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiaotong_normal.png") no-repeat;
}
.scene .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_fengmao_normal.png") no-repeat;
}
.tidy .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_zhengjie_normal.png") no-repeat;
}
.diversity .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_duoyuan_normal.png") no-repeat;
}
.innovation .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_chuangxin_normal.png") no-repeat;
}
.ecology-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_shengtai_checked.png") no-repeat;
}
.ecology-checked, .health-checked, .safety-checked, .scene-checked, .traffic-checked, .tidy-checked, .diversity-checked, .innovation-checked {
    color: #DBAA78;
    font-weight: 500;
}

.health-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiankang_checked.png") no-repeat;
}

.safety-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_anquan_checked.png") no-repeat;
}

.scene-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_fengmao_checked.png") no-repeat;
}

.traffic-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiaotong_checked.png") no-repeat;
}

.tidy-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_zhengjie_checked.png") no-repeat;
}
.diversity-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_duoyuan_checked.png") no-repeat;
}

.innovation-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_chuangxin_checked.png") no-repeat;
}



.target-checkbox {
    display: flex;
    align-items: center;
}

.target-checkbox {
    position: relative;
    margin-top: 32px;
    text-align: left;
}
.target-checkbox label {
    margin-left: 16px;
    margin-top: 1px;
}

.target-checkbox input[type='checkbox'] {
    opacity: 0;
}

.target-checkbox label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.target-checkbox label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 5px;
    width: 4px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;

    transform: rotate(45deg);
    transition: all 0.3s ease;
}


.target-checkbox input[type='checkbox']:checked + label:before {
    background: #D8A77A;
    border-color: #fff;
}

.target-checkbox input[type='checkbox']:checked + label:after {
    background:#D8A77A;
}


.content-list-item-chart {
    height: 100%;
    flex: 1;
}
.navigator-left-wrapper {
    /*height: 1000000px;*/
    /*overflow: scroll;*/
    position: fixed;
    flex-shrink: 0;
    padding: 0 24px;
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding-top: 40px;*/
}

.navigator-left-box{
    width: 89px;
    height: 597px;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../public/images/backgrounds/pic_navigation_shengtai_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 0px;
}
.navigator-left-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45px;
}
.navigator-item{
    padding: 22px 0px;
}
.icon-box {
    width: 22px;
    height: 22px;
}
.icon-image {
    width: 100%;
    height: 100%;
}
.navigator-left-item-text {
    font-family: 'Source Han Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.navigator-active {
    color: #DBAA78;
    border-bottom: 2px solid #DBAA78;
}
.content-middle {
    width: 1218px;
    height: 100vh;
    padding: 0 24px;
    overflow: hidden;
}
.content-main {
    overflow: scroll;
    height: 100%;
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar-thumb {
    background: transparent;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}
.search-area {
    display: flex;
    align-items: center;
    margin: 26px 0px;
}
.label {
    font-family: 'Source Han Sans SC';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    margin-right: 16px;
}
.selector-box {
    width: 96px;
    height: 32px;
    box-sizing: border-box;
    padding: 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(219, 170, 120, 0.15);
    border-radius: 4px;
    border: none;
}
.selector-icon-image-box, .custom-select-icon-image {
    width: 24px;
    height: 24px;
}
.selector-icon-image {
    width: 100%;
    height: 100%;
}
.search-middle-line {
    width: 40px;
    height: 1px;
    background: #D8A77A;
    margin: 0px 16px;
}
.end-time-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
    margin-right: 16px;
}
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 36px;
    background: #DBAA78;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-left: 48px;
}
.search-button:hover {
    background: #E7B271;
}
.click-button {
    background: #BC9465 !important;
}
.content-list-item {
    display: flex;
    width: 100%;
    height: 242px;
    background-image: url("../../../public/images/backgrounds/pic_linianzhibiao_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 24px 32px;
    box-sizing: border-box;
    margin-bottom: 24px;
}
.content-list-item:last-child {
    margin-bottom: 300px;
}
.content-list-item-left {
    width: 30%;
    margin-right: 24px;
}
.content-list-item-first-box {
    margin-bottom: 20px;
}
.content-list-item-highlight {
    margin-top: 10px;
    color:  #DBAA78;
    font-weight: 700;
}

.content-list-item-description {
    margin-top: 10px;
}

.content-list-item-right{
    display: flex;
    border-left: 1px solid #F3E5D7;
}
.content-table-box{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 48px;
    background: rgba(219, 170, 120, 0.15);
    border-radius: 4px;
    padding: 0 10px;
}
.table-header-column, .table-content-column {
    width: 30%;
}
.table-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 48px;
    border-radius: 4px;
    padding: 0 10px;
    border-bottom: 1px solid #F3E5D7;
}
.content-right-wrapper {
    width: 493px;
    height: 920px;
    background-image: url("../../../public/images/backgrounds/pic_zhibiaoliebiao bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 24px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-top: 32px;
    color: #828282;
    font-family: 'Source Han Sans SC';
}
.label-list {
    font-family: 'Source Han Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.middle, .general, .good, .lack {
    width: 68px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-family: 'Microsoft YaHei';
    font-style: normal;
    font-weight: 400;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.middle, .general{
    background-image: url("../../../public/images/backgrounds/middle-data.png");
    color: #7E87CD;
}
.good {
    background-image: url("../../../public/images/backgrounds/good-data.png");
    color: #81BD9D;
}
.lack {
    background-image: url("../../../public/images/backgrounds/lack-data.png");
    color: #D8757A;
}

.start-time-box .custom-select {
    display: inline-block;
    position: relative;
}

.custom-select-icon {
    width: 24px;
    height: 24px;
}

.start-time-box .custom-select .custom-select-header {
    width: 96px;
    height: 32px;
    background: rgba(219, 170, 120, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 8px;
}
.custom-select .custom-select-header .custom-select-header-value {
    padding-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #4F4F4F;
}
.start-time-box .custom-select .custom-option {
    position: absolute;
    top: 34px;
    width: 96px;
    border: 1px solid #DBAA78;
    border-radius: 4px;
    background: #FFFFFF;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-option.custom-option-hide {
    display: none;
}

.custom-option .custom-option-item {
    text-align: left;
    cursor: default;
    height: 32px;
    line-height: 32px;
    /*margin-top: 5px;*/
    box-sizing: border-box;
    padding-left: 8px;
}
.custom-option .custom-option-item:last-child {
    text-align: left;
    cursor: default;
    height: 32px;
    line-height: 32px;
    /*margin-bottom: 5px;*/
    box-sizing: border-box;
    padding-left: 8px;
}
.custom-option .custom-option-item:hover {
    background: rgba(219, 170, 120, 0.15);
    color: #DBAA78;
}