html {
    height: 100%;
    font-size: 100px;
}
body {
    /*background: #E5E5E5;*/
    min-width: 12rem;
    /*height: 1080rem;*/
    /*min-height: 1200rem;*/
    height: 100%;
}

.target-detail-container {
    /*display: flex;*/
    /*justify-content: space-between;*/
    height: 100%;
}

.target-detail-container .amap-style-container {
    z-index: 10000;
    position: fixed;
    left: 1.50rem;
    bottom: 0.24rem;
}

.amap-style-icon {
    width: 0.48rem;
    height: 0.48rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.01rem solid #DBAA78;
    border-radius: 0.04rem;
    display: flex;
}

.amap-style-icon img {
    margin: auto;
}

.amap-style-list.hide-amap-style-list {
    display: none;
}

.amap-style-list {
    background: #FFFFFF;
    position: absolute;
    bottom: 0rem;
    left: 0.60rem;
    width: 0.96rem;
    border: 0.01rem solid #DBAA78;
    box-shadow: 0rem 0.04rem 0.16rem -0.04rem rgba(177, 106, 84, 0.1);
    border-radius: 0.04rem;
    color: #828282;
}
.amap-style-list .style-name {
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0.04rem 0 0.04rem 0.08rem;
    cursor: default;
}

.amap-style-list .style-name.style-name-selected {
    background: rgba(219, 170, 120, 0.15);
}

.amap-toolbox-list-container {
    position: absolute;
    top: 0.60rem;
    background: #FFFFFF;
    border: 0.01rem solid #DBAA78;
    box-shadow: 0rem 0.04rem 0.16rem rgba(177, 106, 84, 0.1);
    border-radius: 0.04rem;
}




.amap-toolbox-list-container li.toolbox-item {
    list-style: none;
    width: 0.48rem;
    height: 0.48rem;
    box-sizing: border-box;
    padding: 0.10rem 0.08rem;
    border-bottom: 0.01rem solid #F3E5D7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amap-toolbox-list-container.amap-toolbox-list-hide {
    display: none;
}

.amap-toolbox-list-container li.toolbox-item:last-child {
    border: none;
}

.amap-toolbox-container {
    position: fixed;
    top: 10%;
    width: 0.48rem;
    height: 0.48rem;
    background: rgba(255, 255, 255, 0.6);
    border: 0.01rem solid #DBAA78;
    border-radius: 0.04rem;
    display: flex;
}
.amap-toolbox.amap-toolbox-normal {
    right: calc(6rem + 5%);

}
.amap-toolbox {
    right: 0.24rem;
    top: 0.24rem;
}

.amap-toolbox-list-container .buffer-container {
    position: absolute;
    left: -2.76rem;
    top: 1.58rem;
    width: 2.64rem;
    height: 1.12rem;
    background: #FFFFFF;

    border: 0.01rem solid #DBAA78;
    box-shadow: 0rem 0.04rem 0.16rem rgba(177, 106, 84, 0.1);
    border-radius: 0.04rem;
}

.custom-select-icon, .custom-select-icon-image {
    width: 0.24rem;
    height: 0.24rem;
}

.buffer-container.buffer-container-hide {
    display: none;
}

.buffer-container .operation-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0.25rem 0.32rem 0.25rem;
}
.buffer-container .input-container {
    margin: 0.16rem 0.16rem 0.24rem 0.16rem;
    font-family: 'Source Han Sans SC';
    font-size: 0.14rem;
    line-height: 0.24rem;
    letter-spacing: 0.02em;
    color: #828282;
    display: flex;
    align-items: center;

}



.buffer-container .input-container .input-area-title {
    margin-right: 0.26rem;
    line-height: 0.32rem;
}
.buffer-container .input-container input[type='text'].number-input {
    width: 0.64rem;
    height: 0.32rem;
    outline-style: none;
    border: 0;
    border-radius: 0.04rem 0 0 0.04rem;

}


.buffer-container .custom-select {
    display: inline-block;
    position: relative;
}

.buffer-container .custom-select .custom-select-header {
    width: 0.64rem;
    height: 0.32rem;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0.04rem 0.04rem 0;

}
.custom-select .custom-select-header .custom-select-header-value {
    padding-left: 0.08rem;
}
.buffer-container .custom-select .custom-option {
    position: absolute;
    top: 0.34rem;
    width: 0.64rem;
    border: 0.01rem solid #F2F2F2;
    border-radius: 0.04rem;
    background: #F2F2F2;

}

.custom-option.custom-option-hide {
    display: none;
}

.custom-option .custom-option-item {
    text-align: center;
    cursor: default;
    margin-top: 0.05rem;
}
.custom-option .custom-option-item:last-child {
    text-align: center;
    cursor: default;
    margin-bottom: 0.05rem;
}
.custom-option .custom-option-item:hover {
    background: #f5f7fa;
}


.form-input-select-container {
    display: flex;
    border: 0.01rem solid #BDBDBD;
    width: 1.28rem;
    border-radius: 0.04rem;
}


.amap-legend-container.amap-legend-container-normal {
    position: fixed;
    bottom: 0.24rem;
    right: calc(6rem + 5%);
    background: rgba(255, 255, 255, 0.6);
    border: 0.01rem solid #DBAA78;
    border-radius: 0.04rem;
}

.amap-legend-container {
    position: fixed;
    bottom: 0.24rem;
    right: 0.24rem;
    background: rgba(216, 167, 122, 0.05);
    border: 0.01rem solid #DBAA78;
    border-radius: 0.04rem;
}

.operation-icon-container {
    display: flex;
    width: 0.48rem;
    height: 0.48rem;
    background: rgba(255, 255, 255, 0.6);
}

.operation-icon-container .operation-icon {
    margin: auto;
}


.amap-toolbox .amap-toolbox-operation-icon {
    margin: auto;
}

.legend-content {
    padding: 0rem 0.16rem 0.16rem 0.16rem;
}

.operation-icon-container.legend-content-hidden {
    display: none;
}

.legend-close {
    position: absolute;
    right: 0.18rem;
    top: 0.18rem;
}
.legend-content.legend-content-hidden {
    display: none;
}
.legend-content-container {
    font-family: 'Source Han Sans SC';
    font-style: normal;
}

.legend-content-container .legend-title {
    margin-bottom: 0.16rem;
    margin-top: 0.16rem;
    font-weight: 700;
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #4F4F4F;
}
.legend-main-content .legend-item span.item-icon {
    display: block;
    width: 0.32rem;
    height: 0.20rem;
    margin-right: 0.08rem;

}
.legend-main-content .legend-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.08rem;
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 0.12rem;
    line-height: 0.15rem;
    color: #87888C;


}
.legend-main-content .legend-item:last-child {
    margin-bottom: 0;
}

.zero-level {
    background: #C8E8FF;
    border-radius: 0.02rem;
}



.first-level {
    background: #C8E8FF;
    border-radius: 0.02rem;
}
.second-level {
    background: #7EBBED;
    opacity: 0.7;
    border-radius: 0.02rem;
}
.third-level {
    background: #7EBBED;
    border-radius: 0.02rem;
}

.target-detail-container .left-operation-container {
    position: absolute;
    z-index: 10000;
    width: 1.38rem;
    height: 100%;
    padding-top: 0.24rem;
    font-family: 'Source Han Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 0.14rem;
    line-height: 0.24rem;
    letter-spacing: 0.02em;
    color: #828282;
    box-shadow: 0.01rem 0rem 0.04rem rgba(106, 69, 31, 0.2);
    background: #FFFFFF;
}
.layer-list {
    position: relative;
    width: 0.89rem;
    height: 0.89rem;
    margin: 0 auto;
    padding-top: 0.18rem;
    box-sizing: border-box;
    text-align: center;
    background: url("../../../public/images/backgrounds/pic_navigation_layer_list_bg.png") no-repeat;
    background-size: 100% 100%;
}

.layer-detail-hide {
    display: none;
}

.layer-text.layer-text-selected {
    color: #DBAA78;
}

.layer-list .layer-detail {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    top: 0rem;
    left: 1.05rem;
    width: 2.3rem;
    background-color: #fff;
    border: 0.01rem solid #D8A77A;

}
.layer-detail::before {
    content: '';
    display: block;
    position: absolute;
    width: 0.10rem;
    height: 0.10rem;
    background: #fff;
    left: -0.06rem;
    top: 0.40rem;
    border-right: 0.01rem solid #D8A77A;
    border-bottom: 0.01rem solid #D8A77A;
    transform: rotate(136deg);
}
.layer-detail .layer-selector {
    margin: 0.16rem;
    width: 1.94rem;
    height: 0.40rem;
    margin: 0.16rem auto;
    background: rgba(209, 165, 120, 0.15);
    border-radius: 0.04rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layer-basemap,.layer-layermap {
    width: 45%;
    display: inline-block;
    text-align: center;
    line-height: 0.32rem;
}

.layer-basemap {
    margin-left: 0.05rem;
}

.layer-layermap {
    margin-right: 0.05rem;
}

.layer-basemap:hover {
    cursor: default;
}
.layer-layermap:hover {
    cursor: default;
}

.chart-title .chart-title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.layer-selected {
    height: 0.32rem;
    background: #FFFFFF;
    border-radius: 0.04rem;
}


.operation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.25rem;
}

.layer-basemap-operation,.layer-layermap-operation {
    display: none;
}

.layer-operation-selected .layer-basemap-checkbox {
    display: flex;
    align-items: center;
}

.layer-operation-selected .layer-layermap-checkbox {
    display: flex;
    align-items: center;
}

.layer-operation-selected {
    display: block;
    margin: 0 0.16rem;
    width: 1.94rem;
    margin: 0 auto;
}

.layer-basemap-checkbox label {
    margin-left: 0.10rem;
}


.layer-basemap-checkbox {
    position: relative;
    margin-bottom: 0.16rem;
    text-align: left;
}

.operation-list .operation {
    height: 0.40rem;
    margin-bottom: 0.26rem;
}

.layer-basemap-checkbox input[type='checkbox'] {
    opacity: 0;
}

.layer-basemap-checkbox label:before {
    content: '';
    position: absolute;
    left: 0rem;
    top: 0.03rem;
    width: 0.16rem;
    height: 0.16rem;
    border: 0.01rem solid #ddd;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.layer-basemap-checkbox label:after {
    content: '';
    position: absolute;
    left: 0.05rem;
    top: 0.08rem;
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s ease;
}


.layer-basemap-checkbox input[type='checkbox']:checked + label:before {
    background:#D8A77A;
}
.layer-basemap-checkbox input[type='checkbox']:checked + label:after {
    background:  #fff;
}


.layer-layermap-checkbox {
    position: relative;
    margin-bottom: 0.16rem;
    text-align: left;
}
.layer-layermap-checkbox label {
    margin-left: 0.10rem;
}

.layer-layermap-checkbox input[type='checkbox'] {
    opacity: 0;
}

.layer-layermap-checkbox label:before {
    content: '';
    position: absolute;
    left: 0rem;
    top: 0.03rem;
    width: 0.16rem;
    height: 0.16rem;
    border: 0.01rem solid #ddd;
    border-radius: 0.04rem;
    transition: all 0.3s ease;
}

.layer-layermap-checkbox label:after {
    content: '';
    position: absolute;
    left: 0.06rem;
    top: 0.06rem;
    width: 0.04rem;
    height: 0.08rem;
    border-bottom: 0.02rem solid #fff;
    border-right: 0.02rem solid #fff;

    transform: rotate(45deg);
    transition: all 0.3s ease;
}


.layer-layermap-checkbox input[type='checkbox']:checked + label:before {
    background: #D8A77A;
    border-color: #fff;
}

.layer-layermap-checkbox input[type='checkbox']:checked + label:after {
    background:#D8A77A;
}

.layer-basemap-checkbox.green-space {
    display: flex;
    flex-direction: column;
}

.layer-basemap-checkbox.green-space .checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 0.18rem;
}

.layer-layermap-checkbox .checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    width: 100%;
    margin-bottom: 0.18rem;
}

.layer-layermap-checkbox.construct {
    display: flex;
    flex-direction: column;
}

.layer-layermap-checkbox.live {
    display: flex;
    flex-direction: column;
}

.custom-slide {
    width: 80%;
}

.operation.ecology {
    margin-top: 0.4rem;
}

.operation-icon {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.05rem;
}

.operation-icon.layer-icon {
    margin-bottom: 0rem;
    background: url("../../../public/images/icons/icon_layer_list_normal.png") no-repeat;
    background-size: 100% 100%;
}

.operation-icon.layer-icon.layer-icon-selected {
    background: url("../../../public/images/icons/icon_layer_list_checked.png") no-repeat;
    background-size: 100% 100%;
}

.ecology .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_shengtai_normal.png") no-repeat;
    background-size: 100% 100%;
}
.health .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiankang_normal.png") no-repeat;
    background-size: 100% 100%;
}

.safety .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_anquan_normal.png") no-repeat;
    background-size: 100% 100%;
}

.traffic .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiaotong_normal.png") no-repeat;
    background-size: 100% 100%;
}
.scene .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_fengmao_normal.png") no-repeat;
    background-size: 100% 100%;
}
.tidy .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_zhengjie_normal.png") no-repeat;
    background-size: 100% 100%;
}
.diversity .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_duoyuan_normal.png") no-repeat;
    background-size: 100% 100%;
}
.innovation .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_chuangxin_normal.png") no-repeat;
    background-size: 100% 100%;
}
.ecology-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_shengtai_checked.png") no-repeat;
    background-size: 100% 100%;
}

.health-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiankang_checked.png") no-repeat;
    background-size: 100% 100%;
}
.safety-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_anquan_checked.png") no-repeat;
    background-size: 100% 100%;
}

.scene-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_fengmao_checked.png") no-repeat;
    background-size: 100% 100%;
}
.traffic-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_jiaotong_checked.png") no-repeat;
    background-size: 100% 100%;
}

.tidy-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_zhengjie_checked.png") no-repeat;
    background-size: 100% 100%;
}
.diversity-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_duoyuan_checked.png") no-repeat;
    background-size: 100% 100%;
}
.innovation-checked .operation-icon {
    background: url("../../../public/images/icons/icon_navigation_chuangxin_checked.png") no-repeat;
    background-size: 100% 100%;
}

.target-detail-container .middle-amap-container {
    width: 100%;
    height: 100%;
}
.right-data-chart-container {
    position: absolute;
    width: 35%;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 100%;
    z-index: 1000;
}

.right-data-chart-container-wrapper {
    position: absolute;
    top: 0.20rem;
    left: 0.20rem;
    z-index: 1000;
    width: 6rem;
    height: 90vh;
    margin-right: 0.24rem;
    padding: 0.16rem;
    font-family: 'Source Han Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 0.14rem;
    line-height: 0.24rem;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    /*box-sizing: border-box;*/
    background: url("../../../public/images/backgrounds/pic_zhibiaoxiangqing_bg.png") no-repeat;
    background-size: 100% 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.right-data-chart-container-wrapper::-webkit-scrollbar {
    background: transparent;
    display: none;
}
.right-data-chart-container-wrapper::-webkit-scrollbar {
    background: transparent;
    display: none;
}

.right-data-chart-container::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.data-chart-operation.open-status {
    position: absolute;
    top: 40%;
    right: 6.41rem;
    z-index: 1000;
}

.data-chart-operation {
    position: absolute;
    top:40%;
    right: 0.25rem;
    z-index: 1000;
}


.operation-list {
    margin: 0 auto;
    width: 0.89rem;
    height: 5.79rem;
    margin-top: 0.32rem;
    background: url("../../../public/images/backgrounds/pic_navigation_shengtai_bg.png") no-repeat;
    background-size: 100% 100%;
}

.right-data-chart-container .data-chart-container {
    display: flex;
    justify-content: center;
    border-bottom: 0.01rem solid #F3E5D7;
}

.right-data-chart-container .data-chart-container:last-child {
    border: none;
}

.left-chart-content,.right-chart-content {
    width: 50%;
    padding-right: 0.27rem;
    box-sizing: border-box;
}

.left-chart-content {
    padding-left: 0.08rem;
    border-right: 0.01rem solid #F3E5D7;
}

.right-chart-content {
    padding-left: 0.24rem;
}
.chart-title {
    padding-top: 0.20rem;
}

.right-data-chart-container .chart-title:first-child {
    padding-top: 0.12rem;
}

.chart-title-icon {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    background: url("../../../public/images/icons/icon_chart.png") no-repeat;
    background-size: 100% 100%;
}

.chart-title {
    display: flex;
    justify-content: space-between;
}

.chart-content .region-item {
    width: 100%;
    background: rgba(216, 167, 122, 0.15);
    border-radius: 0.08rem;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 0.12rem;
    line-height: 0.17rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.16rem 0.08rem;
    margin-bottom: 0.08rem;
}
.region-item .region-area-number{
    font-size: 0.22rem;
    line-height: 0.26rem;
}
.region-item .region-name{
    text-align: center;
    width: 100%;
}
.right-chart-content div.chart-content.region-group-detail {
    width: 100%;
    height: 100%;
}
.chart-content {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.50rem auto 0.53rem;
}
.health-checked,.safety-checked,.safety-checked,.scene-checked,.traffic-checked,.tidy-checked,.diversity-checked,.innovation-checked,.ecology-checked {
    color: #DBAA78;
    font-weight: 500;
}

.right-chart-content .chart-content.region-group-detail {
    margin: 0.23rem auto 0.31rem;
}

.chart-content.city-road-net-density .number {
    font-weight: 500;
    font-size: 0.15rem;
    margin: 0;
}

.chart-content.city-road-net-density {
    width: 2rem;


}

.chart-content {
    text-align: center;
}

.chart-content.housing-spending-high-ratio {
    display: block;
}

.number {
    margin: 0.28rem 0 0.10rem 0;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 0.33rem;
    color: #4F4F4F;
}

.unit {
    font-family: 'Microsoft YaHei';
    font-style: normal;
    font-weight: 400;
    font-size: 0.12rem;
    line-height: 0.18rem;
    color: #828282;
}

.tool-box-icon-close {
    width: 0.16rem;
    height: 0.16rem;
}
